<?xml version="1.0"?>
<model>
  <name>Tailsitter_mono</name>
  <version>1.0</version>
  <sdf version='1.6'>tailsitter_mono.sdf</sdf>

  <author>
   <name>Roman Bapst</name>
   <email>roman@px4.io</email>
  </author>

  <description>
    This is a model of a tailsitter with a single vectored engine.
  </description>
</model>
